body {
    background-color: #FDFDF9;
    margin: 0px;
}
html, body{
    height:100%;
}
/*

    #FDA700 orange
    #145BB4 dark blue

    try this:
    #156025 - dark green
    #57A545 - light green
    #546A76 - grey
    #594236 - brown
    #FDFDF9 - white


*/
nav {
    padding:0;
    width: 100%;
    
}
    nav:after {
        content: " ";
        display: block;
        clear: both;
    }
ul {
    margin: 0px;
    padding:0px;
    list-style-type: none;
}
li.insidenav {
    float: left;
    width: 25%;
}
div.innav {
    display: inline-block;
    background-color: lightgrey;
    border-left: dashed;
    margin-left: 0px;
    margin-right: 0px;
    height: 48px;
    width: 100%;
    text-align:center;
}
div.innav:hover{
    background-color: saddlebrown;
}
img.logo{
    width:25%;
}

div#solocontainer {
    border-color: #594236;
    margin-top: 1%;
    margin-left: 5px;
    margin-right: 5px;
    border: solid;
    border-color: #594236;
    background-color: #57A545;
    height: 90%;
    width: 98%;
}
p#Dealer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}
p#Player {
    position: absolute;
    left: 50%;
    top:94%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#playerCounter {
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#CurrentBet{
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
}
#Add10 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    /*background-color: #156025;*/
    padding: 1%;
    border: none;
    color: white;
}
#start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#bet {
    position: absolute;
    top: 98%;
    left: 95%;
    width: max-content;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

img.card{
    position:absolute;
    visibility:hidden;
    width:80px;
    
}
img#backofcard {
    visibility: visible;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img#dealer1 {
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}
img#dealer2 {
    left: 54%;
    top: 18%;
    transform: translate(-50%);
}
img#c1 {
    left: 50%;
    transform: translate(-50%);
    top:75%;
}
img#c2 {
    left: 52%;
    transform: translate(-50%);
    top: 73%;
}
img#c3 {
    left: 54%;
    transform: translate(-50%);
    top: 71%;
}
img#c4 {
    left: 56%;
    transform: translate(-50%);
    top: 69%;
}
img#c5 {
    left: 58%;
    transform: translate(-50%);
    top: 67%;
}
img#c6 {
    left: 60%;
    transform: translate(-50%);
    top: 65%;
}