body {
    background-color: #FDFDF9;
    margin: 0px;
}
html, body{
    height:100%;
}
/*

    #FDA700 orange
    #145BB4 dark blue

    try this:
    #156025 - dark green
    #57A545 - light green
    #546A76 - grey
    #594236 - brown
    #FDFDF9 - white

    11 cards = max
*/
nav {
    padding: 0;
    width: 100%;
}

    nav:after {
        content: " ";
        display: block;
        clear: both;
    }

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li.insidenav {
    float: left;
    width: 25%;
}

div.innav {
    display: inline-block;
    background-color: lightgrey;
    border-left: dashed;
    margin-left: 0px;
    margin-right: 0px;
    height: 48px;
    width: 100%;
    text-align: center;
}

    div.innav:hover {
        background-color: saddlebrown;
    }

img.logo {
    width: 25%;
}


div#solocontainer {
    border-color: #594236;
    margin-top: 1%;
    margin-left: 5px;
    margin-right: 5px;
    border: solid;
    border-color: #594236;
    background-color: #57A545;
    height: 90%;
    width: 98%;
}
p#Dealer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}
p.Player {
    position: absolute;
    left: 50%;
    top:94%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#playerCounter {
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#CurrentBet {
    position: absolute;
    left: 50%;
    top: 35%;
    font-size: 125%;
    transform: translate(-50%, -50%);
    color: #145BB4;
    background-color: white;
}
#Add5 {
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
}
#Add10 {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    /*background-color: #156025;*/
    padding: 1%;
    border: none;
    color: white;
}
#Add25 {
    position: absolute;
    left: 50%;
    top: 66%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
}
#Add100 {
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
}
#start {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    padding:1%;
}
#bet {
    position: absolute;
    top: 98%;
    left: 95%;
    width: max-content;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

img.card{
    position:absolute;
    visibility:hidden;
    width:80px;
}
img#backofcard {
    visibility: visible;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
}
img#dealer1 {
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}
img#dealer2 {
    left: 54%;
    top: 18%;
    transform: translate(-50%);
}
img#c1 {
    left: 50%;
    transform: translate(-50%);
    top:75%;
}
img#c2 {
    left: 52%;
    transform: translate(-50%);
    top: 73%;
}
img#c3 {
    left: 54%;
    transform: translate(-50%);
    top: 71%;
}
img#c4 {
    left: 56%;
    transform: translate(-50%);
    top: 69%;
}
img#c5 {
    left: 58%;
    transform: translate(-50%);
    top: 67%;
}
img#c6 {
    left: 60%;
    transform: translate(-50%);
    top: 65%;
}

/*Chatroom*/
div#chatroom{
    height:25%;
    margin-top:3%;
}
div#messages {
    height: 85%;
    width: 98%;
    margin: auto;
    border:solid;
    border-color:#546A76; 
}
form.chat {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
}
input#msgin{
    width:80%;
}

button#sendmsg{
    width: 19%;
}



/* For Phone/mobile */
/*----------------------------------------------*/
@media only screen and (max-width: 960px) {
    div.innav {
        font-size: large;
        height: 80px;
    }
    p#CurrentBet {
        top: 30%;
        font-size: 155%;
    }
    img#backofcard {
        width: 50%;
    }
    #Add5 {
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        padding: 3%;
    }
    #Add10 {
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        padding: 3%;
    }
    #Add25 {
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        padding: 3%;
    }
    #Add100 {
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);
        padding: 3%;
    }
    #start {
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        padding:3%;
    }

    #bet {
        top: 99%;
        left: 95%;
    }
    p#Player {
        top: 97%;
    }

    p#playerCounter {
        top: 99%;
    }

    /*CARDS PLACEMENT MOBILE*/
    img.card {
        position: absolute;
        visibility: hidden;
        width: 100px;
    }

    img#dealer1 {
        left: 49%;
        top: 27%;
        transform: translate(-50%);
    }

    img#dealer2 {
        left: 54%;
        top: 24%;
        transform: translate(-50%);
    }

    img#c1 {
        left: 45%;
        transform: translate(-50%);
        top: 75%;
    }

    img#c2 {
        left: 48%;
        transform: translate(-50%);
        top: 73%;
    }

    img#c3 {
        left: 51%;
        transform: translate(-50%);
        top: 71%;
    }

    img#c4 {
        left: 54%;
        transform: translate(-50%);
        top: 69%;
    }

    img#c5 {
        left: 57%;
        transform: translate(-50%);
        top: 67%;
    }

    img#c6 {
        left: 60%;
        transform: translate(-50%);
        top: 65%;
    }

    
}