body {
    background-color: #FDFDF9;
    margin: 0px;
}
html, body{
    height:100%;
}

div#solocontainer {
    position:relative;
    border-color: #594236;
    margin-top: 1%;
    margin-left: 5px;
    margin-right: 5px;
    border: solid;
    border-color: #594236;
    background-color: #57A545;
    height: 90%;
    width: 98%;
}
p#Dealer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}
p#Player {
    position: absolute;
    left: 50%;
    top:94%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#dealerCounter {
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
    visibility: hidden;
}
p#playerCounter {
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
p#CurrentBet {
    position: absolute;
    left: 50%;
    top: 35%;
    font-size: 125%;
    transform: translate(-50%, -50%);
    color: #145BB4;
    background-color: white;
    visibility: hidden;
}
#Add5 {
    position: absolute;
    left: 45%;
    top: 51%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}
#Add10 {
    position: absolute;
    left: 45%;
    top: 58%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    /*background-color: #156025;*/
    padding: 1%;
    border: none;
    color: white;
    visibility: hidden;
    width: 8%;
}
#Add25 {
    position: absolute;
    left: 45%;
    top: 66%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}
#Add100 {
    position: absolute;
    left: 45%;
    top: 74%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}

#Sub5 {
    position: absolute;
    left: 55%;
    top: 51%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}

#Sub10 {
    position: absolute;
    left: 55%;
    top: 58%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    /*background-color: #156025;*/
    padding: 1%;
    border: none;
    color: white;
    visibility: hidden;
    width: 8%;
}

#Sub25 {
    position: absolute;
    left: 55%;
    top: 66%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}

#Sub100 {
    position: absolute;
    left: 55%;
    top: 74%;
    transform: translate(-50%, -50%);
    /* button design*/
    text-align: center;
    padding: 1%;
    border: none;
    color: white;
    width: 8%;
    visibility: hidden;
}

#start {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 2%;
    width: 12%;
}
#bet {
    position: absolute;
    top: 85%;
    left: 95%;
    width: max-content;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

#startround {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    padding: 1%;
    visibility: hidden;
    width: 12%;
}
#hit {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 1%;
    width:10%;
    visibility: hidden;
}

#stay {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 1%;
    width: 10%;
    visibility: hidden;
}
#changeBet{
  position: absolute;
  left:80%;
  top:90%;
  visibility:hidden;
}
#playAgain{
  position: absolute;
  left:80%;
  top:95%;
  visibility:hidden;
}
img.card{
    position:absolute;
    visibility:hidden;
    width:120px;
}
img#backofcard {
    position:absolute;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%
}
img#d1 {
    left: 45%;
    top: 17%;
    transform: translate(-50%);
    visibility: hidden;
}
img#d2 {
    left: 47%;
    top: 15%;
    transform: translate(-50%);
    visibility: hidden;
}
img#d3 {
    left: 49%;
    top: 13%;
    transform: translate(-50%);
    visibility: hidden;
}
img#d4 {
    left: 51%;
    top: 11%;
    transform: translate(-50%);
    visibility: hidden;
}
img#d5 {
    left: 53%;
    top: 9%;
    transform: translate(-50%);
    visibility: hidden;
}
img#d6 {
    left: 55%;
    top: 7%;
    transform: translate(-50%);
    visibility: hidden;
}
img#c1 {
    left: 45%;
    transform: translate(-50%);
    top:70%;
    visibility: hidden;
}
img#c2 {
    left: 47%;
    transform: translate(-50%);
    top: 68%;
    visibility: hidden;
}
img#c3 {
    left: 49%;
    transform: translate(-50%);
    top: 66%;
    visibility: hidden;
}
img#c4 {
    left: 51%;
    transform: translate(-50%);
    top: 64%;
    visibility: hidden;
}
img#c5 {
    left: 53%;
    transform: translate(-50%);
    top: 62%;
    visibility: hidden;
}
img#c6 {
    left: 55%;
    transform: translate(-50%);
    top: 60%;
    visibility: hidden;
}

p#winloss{
    visibility:hidden;
    top:50%;
    left:50%;
    color:white;
    font-weight:bold;
    position:absolute;
}


/*Chatroom*/
div#chatroom{
    height:25%;
    margin-top:3%;
}
div#messages {
    height: 85%;
    width: 98%;
    margin: auto;
    border:solid;
    border-color:#546A76;
}
form.chat {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
}
input#msgin{
    width:80%;
}

button#sendmsg{
    width: 19%;
}



/* For Phone/mobile */
/*----------------------------------------------*/
@media only screen and (max-width: 600px) {
    div.innav {
        font-size: large;
        height: 70px;
    }
    p#CurrentBet {
        top: 38%;
        font-size: 155%;
    }

    p#winloss {
        transform:translate(-50%);
    }

    img#backofcard {
        width: 50%;
        top:50%;
    }
    
    #Add5 {
        left: 40%;
        top: 57%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width:auto;
    }
    #Add10 {
        left: 40%;
        top: 67%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }
    #Add25 {
        left: 40%;
        top: 77%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }
    #Add100 {
        left: 40%;
        top: 87%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #Sub5 {
        left: 60%;
        top: 57%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #Sub10 {
        left: 60%;
        top: 67%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #Sub25 {
        left: 60%;
        top: 77%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #Sub100 {
        left: 60%;
        top: 87%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }
    button#start {
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }
    #startround {
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #hit {
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #stay {
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        padding: 3%;
        width: auto;
    }

    #bet {
        top: 100%;
        left: 95%;
    }

    #changeBet {
        left: 75%;
        top: 80%;
    }

    #playAgain {
        left: 75%;
        top: 90%;

    }
    
    /*CARDS PLACEMENT MOBILE*/
    img.card {
        position: absolute;
        visibility: hidden;
        width: 80px;
    }
    img#d1 {
        left: 40%;
        top: 18%;
        transform: translate(-50%);
    }

    img#d2 {
        left: 44%;
        top: 16%;
        transform: translate(-50%);
    }
    img#d3 {
        left: 48%;
        top: 14%;
        transform: translate(-50%);
    }
    img#d4 {
        left: 52%;
        top: 12%;
        transform: translate(-50%);
    }
    img#d5 {
        left: 56%;
        top: 10%;
        transform: translate(-50%);
    }
    img#d6 {
        left: 60%;
        top: 8%;
        transform: translate(-50%);
    }

    img#c1 {
        left: 40%;
        transform: translate(-50%);
        top: 70%;
    }
    img#c2 {
        left: 44%;
        transform: translate(-50%);
        top: 68%;
    }
    img#c3 {
        left: 48%;
        transform: translate(-50%);
        top: 66%;
    }
    img#c4 {
        left: 52%;
        transform: translate(-50%);
        top: 64%;
    }
    img#c5 {
        left: 56%;
        transform: translate(-50%);
        top: 62%;
    }
    img#c6 {
        left: 60%;
        transform: translate(-50%);
        top: 60%;
    }

    /*Chat*/
    #msgin{
        width:78%;
    }

}
