<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="stylesheets/navbar.css">
	<link rel="stylesheet" href="stylesheets/admin.css">
	<script src="javascript/navbar.js" defer ></script>
	
  </head>
  <body>
  <nav>
    <ul>
      <li class="insidenav">
        <div class="innav" id="logo">
          <img class="logo" alt="Insert Logo Here" />
        </div>
      </li>
      <li class="insidenav"  style="width:50%;"><div class="innavblank" id="admin"> </div> </li>
      <li class="insidenav"><div class="innav" id="logout"> Log out </div> </li>
    </ul>
  </nav>
  <h1>Donald Deck Administrator</h1>
  <table>
		<tr>
			<th> User Name </th>
      <th> Credits </th>
    </tr>
		<% rows.forEach((user)=>{ %>
    <tr>
      <td><%=user.username %></td>
      <td><%=user.credits %></td>	
    </tr>
    <% }); %>
	</table>
</html>