<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/oldStyles.css">
  </head>
  <body>
    <!-- CHANGE-->
    <!-- <div id="divLogin">
      <h1>Welcome</h1>
      <span>Username: </span><input name="username" type="text"><br>
      <span>Password: </span><input name="password" type="text"><br>
      <a href="/createAcct.html">Create an account</a>
      <button id="buttLogin">Login</button>
    </div> -->
    <h1>Sign in</h1>
    <h2>Use your Quacking Cow account</h2>
    <div class="mainDiv">
        <form method='post' action='/login'>
            <p class="success">Account created successfully</p>
            <div class="borderDiv">
                <input type="text" class="txtInputfull" name="username" placeholder="Username"/><br>
                <input type="password" class="txtInputfull" name="password" placeholder="Password"/><br>
            </div>
            <input type="submit" class="pageButton add" value="Login"/>
        </form>
        <br>
        <a href="createAccount.html" class="txtButton">Create Account</a>
    </div>

  </body>
</html>
