<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/stylesheets/oldStyles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
	<script src="javascript/navbar.js" defer ></script>
  </head>
  <body>
  <h1>Donald Deck</h1>
  <nav>
        <ul>
            <li class="insidenav" style="width:33%;">
                <div class="innav" >
                    <img class="logo" alt="Insert Logo Here" />
                </div>
            </li>
            <li class="insidenav" style="width:33%;"> <div class="innav" id="mystats"> My Stats </div></li>
            <li class="insidenav" style="width:34%;"><div class="innav" id="logout"> Log out</div> </li>
        </ul>
    </nav>
	<br>
    <div class="mainDiv">
        <% rows.forEach((r) => { %>
		<h1> Hello! </h1>
		<p id="id"><%=r.username %></p>
        <form method='POST' action='/soloBlackjack/'>
            <input type="hidden" name="id" value=<%= r.username %>>
            <button type="submit" class="pageButton add"> Play Solo</button>
        </form>
        <br>
        <form method='POST' action='/createMatch/'>
            <input type="hidden" name="id" value=<%= r.username %>>
            <button type="submit" class="pageButton add"> Create Match </button>
        </form>
        <br>
        <form method='POST' action='/joinMatch/'>
            <input type="hidden" name="id" value=<%= r.username %>>
            <button type="submit" class="pageButton add"> Join Match</button>
        </form>
        <% }); %>
    </div>
</html>
