<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title> solo blackjack</title>
    <link rel="stylesheet" href="/stylesheets/mystats.css">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<script src="javascript/navbar.js" defer ></script>	
</head>
<body>
    <nav>
        <ul>
            <li class="insidenav" style= "width:20%">
                <div class="innav" id = "logo">
                    <img class="logo" alt="Insert Logo Here" />
                </div>
            </li>
            <li class="insidenav" style= "width:20%"><div class="innav" id="creatematch" > Create match</div> </li>
            <li class="insidenav" style= "width:20%"><div class="innav" id="joinmatch" > Join Match</div> </li>
			<li class="insidenav" style= "width:20%"> <div class="innav" id="soloBlackjack"> Play Solo </div></li>
            <li class="insidenav" style= "width:20%"><div class="innav" id= "logout" > Log out</div> </li>
        </ul>
    </nav>
    <div>
	<h1 id='id'><%=username%></h1>
	<p>Hi <%=username%>! Here are some of your statistics!</p>
	<div class = "coinbox">
		<img class="coin" src="/images/circle.png" alt="circle"/>
		<p id="youhave"> You have </p>
		<h3><%=credits%></h3>
		<p id= "credits" > credits! </p>
	</div>
	</div>
</body>
</html>