<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title> solo blackjack</title>
    <link rel="stylesheet" href="stylesheets/mystats.css">
</head>
<body>
    <nav>
        <ul>
            <li class="insidenav">
                <div class="innav">
                    <img class="logo" alt="Insert Logo Here" />
                </div>
            </li>
            <li class="insidenav"><div class="innav"> Play with Friends</div> </li>
            <li class="insidenav"> <div class="innav"> My stats </div></li>
            <li class="insidenav"><div class="innav"> Log out</div> </li>
        </ul>
    </nav>
    <div>
	<p>Hi! <%=user%> </p>
	</div>
</body>
</html>