<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> solo blackjack</title>
    <link rel="stylesheet" href="soloBlackjack.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li class="insidenav"><div class="innav"><img class="logo" alt="Insert Logo Here" />
                 </div></li>
            <li class="insidenav"><div class="innav"> Play with Friends</div> </li>
            <li class="insidenav"> <div class="innav"> My stats </div></li>
            <li class="insidenav"><div class="innav"> Log out</div> </li>
        </ul>
        
    </div>
    <div id="solocontainer">
        <p id="Dealer">Dealer</p>
        <p id="CurrentBet">Current Bet:</p>
        <button id="Add10"> ADD 10 COINS </button>
        <h2 ></h2>
    </div>
</body>
</html>