<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> solo blackjack</title>
    <link rel="stylesheet" href="stylesheets/soloBlackjack.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascript/soloBlackjackAnimations.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li class="insidenav">
                <div class="innav">
                    <img class="logo" alt="Insert Logo Here" />
                </div>
            </li>
            <li class="insidenav"><div class="innav"> Play with Friends</div> </li>
            <li class="insidenav"> <div class="innav"> My stats </div></li>
            <li class="insidenav"><div class="innav"> Log out</div> </li>
        </ul>
    </nav>
    <div id="solocontainer">
        <p id="Dealer">Dealer</p>
        <p id="CurrentBet">Current Bet:</p>
        <button class="btn-danger"id="Add10"> ADD 10 COINS </button>
        <button class="btn-danger"id="start"> START GAME</button>
        <p id="bet"> BET=</p>
    </div>
</body>
</html>