<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> solo blackjack</title>
    <link rel="stylesheet" href="stylesheets/soloBlackjack.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascript/soloBlackjackAnimations.js" defer ></script>
</head>
<body>
    <nav>
        <ul>
            <li class="insidenav">
                <div class="innav">
                    <img class="logo" alt="Insert Logo Here" />
                </div>
            </li>
            <li class="insidenav"><div class="innav"> Play with Friends</div> </li>
            <li class="insidenav"> <div class="innav"> My stats </div></li>
            <li class="insidenav"><div class="innav"> Log out</div> </li>
        </ul>
    </nav>
    <div id="solocontainer">
        <p id="Dealer">Dealer</p>
		<p id="Player">Player</p>
		<img class="card" src="images/cardback.png" alt="backofcard" id = "backofcard"/>
		
        <p id="CurrentBet" value = "0" >Current Bet: 0</p>
        <button id="Add10" class="btn-danger" > ADD 10 COINS </button>
        <button class="btn-danger" id="start"> START GAME</button>
        <p id="bet">Bet: 0</p>
		<img class="card" src="images/cardback.png" alt="dealer1" id = "dealer1"/>
		<img class="card" src="images/cardback.png" alt="dealer2" id = "dealer2"/>
		<img class="card" src="images/cardback.png" alt="c1" id="c1"/>
		<img class="card" src="images/cardback.png" alt="c2" id="c2" />
		<img class="card" src="images/cardback.png" alt="c3" id="c3"/>
		<img class="card" src="images/cardback.png" alt="c4" id="c4"/>
		<img class="card" src="images/cardback.png" alt="c5" id="c5"/>
		<img class="card" src="images/cardback.png" alt="c6" id="c6"/>
		<p id="playerCounter"> 0 </p>
    </div>
</body>
</html>